.authorization__input-label {
	display: flex;
	flex-direction: column;
	margin: 0 0 23px;
	padding: 15px 14px 0;

	border-bottom: 4px solid #cfd8dc;
	border-radius: 3px;
	background-color: #edf2f6;

	font-weight: 600;
	font-size: 14px;
	color: #455a64;

	position: relative;
	box-sizing: border-box;
}

.authorization__input-label:after {
	content: '';
	height: 4px;
	bottom: -4px;
	left: auto;
	right: 0;
	position: absolute;
	background: #7e57c2;
	transition: width 0.3s ease 0s;
	width: 0;
	border-radius: 0 0 3px 3px;
}

.authorization__input-label:focus-within::after {
	width: 100%;
	right: auto;
	left: 0;
}

.authorization__input-label:last-of-type {
	margin: 0;
}


@media screen and (max-width: 424px) {
	.authorization__input-label {
		font-size: 12px;
	}
}